{% extends "base.html" %}
{% load static %}

{% block page_content %}


<!-- hot-catagory section Section Begin -->
<section class="categories">
    <div class="container-fluid">
         <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg" data-setbg="{% static 'img/models.gir.gif' %}">
                    <div class="categories__text">
                        <h1>Different models style</h1>
                        <p>Discover models who share your height, weight, and skin color. Find what suits you best. Shop with confidence.</p>
                        <a href="{% url "base:supermodel-page" %}">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    {% for subcat in subcategory %}
                        {% if subcat.Hot %}
                            <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                                <div class="categories__item set-bg" data-setbg="{{ subcat.image.url }}">
                                    <div class="categories__text">
                                        <h4> {{ subcat.name }} </h4>
                                        <p>{{ subcat.product_set.count }} Item{{ subcat.product_set.count|pluralize }}</p>                                        
                                        <a href="#">shop now</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>    
        </div>
    </div> 
</section>
<!-- hot  Categories Section End -->


<!-- Banner Section Begin -->
<div class="banner__pic__slider owl-carousel">
    {% for banner in banner %}
    <div class="item">
        <img class="product__big__img" src="{{ banner.image.url }}" alt="">
        <div class="image-text">
            <span></span>
            <h1></h1>
            <a href="#"></a>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Tranding products</h4>
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    {% for cat in category %}
                    <li data-filter=".{{ cat.name }}">{{ cat.name }}</li>                    
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row property__gallery"> <!-- here is the product with filter part-->
            {% for pro in product %}
            <div class="col-lg-3 col-md-4 col-sm-6 product-box mix {{ pro.Category.name }}">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{{ pro.display_image.url }}">
                    <ul class="product__hover">
                        <li><a href="{{ pro.display_image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                        <li class="{% if pro in cart_products %}in-cart{% endif %}"><a href="{% url 'base:add_to_cart-page' pro.pro_id %}" class="add-to-cart"><span class="icon_cart"></span></a></li>
                        <li class="{% if pro in wishlist_products %}in-wishlist{% endif %}">
                            <a href="{% if pro in wishlist_products %}{% url 'base:remove_from_wishlist-page' pro.pro_id %}{% else %}{% url 'base:add_to_wishlist-page' pro.pro_id %}{% endif %}" class="add-to-wishlist">
                                <span class="icon_heart_alt"></span>
                            </a>
                        </li>                   
                    </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="{% url 'base:product_details-page' pro.pro_id %}">{{ pro.name}}</a></h6>
                        <div class="rating">
                        {% for i in range_1_6 %}
                            {% if i <= 5 %}
                                <i class="fa fa-star"></i>
                            {% else %}
                                <i class="fa fa-star-o"></i>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="product__price">$ {{ pro.old_price }} <span>{{ pro.new_price }}</span> </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Product Section End -->


<!-- tranding section starts -->
<div class="container">
<div class="col-lg-4 col-md-4">
    <div class="section-title">
        <h4> In stock Products</h4>
    </div>
</div>
</div>
<div class="product__type__slider__content">
    <div class="product__type__pic__slider owl-carousel">
        {% for pro in product %}
        {% if pro.in_stock%}
        <div class="col-lg-12 col-md-12 col-sm-12 mix {{ pro.Category.name }}">
            <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="{{ pro.display_image.url }}">
                    <ul class="product__hover">
                        <li><a href="{{ pro.display_image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                        <li><a href="{% url 'base:add_to_cart-page' pro.pro_id %}" class="add-to-cart"><span class="icon_cart"></span></a></li>
                        <li><a href="{% url 'base:add_to_wishlist-page' pro.pro_id %}" class="add-to-wishlist"><span class="icon_heart_alt"></span></a></li>
                    </ul>
                </div> 
                <div class="product__item__text">
                    <h6><a href="{% url 'base:product_details-page' pro.pro_id %}">{{ pro.name}}</a></h6>
                    <div class="rating">
                        {% for i in range_1_6 %}
                            {% if i <= pro.rating %}
                                <i class="fa fa-star"></i>
                            {% else %}
                                <i class="fa fa-star-o"></i>
                            {% endif %}
                        {% endfor %}
                    </div> 
                    <div class="product__price">$ {{ pro.old_price }} <span>{{ pro.new_price }}</span> </div>
                </div> 
            </div> 
        </div> 
        {% endif %}
        {% endfor %}
    </div> 
</div> 

<div class="container">
<div class="col-lg-4 col-md-4">
    <div class="section-title">
        <h4> Hot products </h4>
    </div>
</div>
</div>
<div class="product__type__slider__content">
    <div class="product__type__pic__slider owl-carousel">
        {% for pro in product %}
        {% if pro.Hot%}
        <div class="col-lg-12 col-md-12 col-sm-12 mix {{ pro.Category.name }}">
            <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="{{ pro.display_image.url }}">
                    <ul class="product__hover">
                        <li><a href="{{ pro.display_image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="{% url 'base:add_to_cart-page' pro.pro_id %}" class="add-to-cart"><span class="icon_cart"></span></a></li>
                            <li><a href="{% url 'base:add_to_wishlist-page' pro.pro_id %}" class="add-to-wishlist"><span class="icon_heart_alt"></span></a></li>
                    </ul>
                </div> 
                <div class="product__item__text">
                    <h6><a href="{% url 'base:product_details-page' pro.pro_id %}">{{ pro.name}}</a></h6>
                    <div class="rating">
                        {% for i in range_1_6 %}
                            {% if i <= pro.rating %}
                                <i class="fa fa-star"></i>
                            {% else %}
                                <i class="fa fa-star-o"></i>
                            {% endif %}
                        {% endfor %}
                    </div> 
                    <div class="product__price">$ {{ pro.old_price }} <span>{{ pro.new_price }}</span> </div>
                </div> 
            </div> 
        </div> 
        {% endif %}
        {% endfor %}
    </div> 
</div>



 <!-- tranding section ends -->
<!-- product section ends -->
{% endblock page_content %}
