{% extends "base.html" %}
{% load static %}
{% block page_content %}
{% load my_custom_tags %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
    <section class="checkout spad">
        <div class="container">
            <form action="{% url 'base:initiate_payment' %}" method="post" class="checkout__form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Billing detail</h5>
                        <div class="row">
                            {% for field in profile_form %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="checkout__form__input">
                                        <p>{{ field.label }} <span>*</span></p>
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p>Order notes <span>*</span></p>
                                    <input type="text" name="order_notes" placeholder="Note about your order, e.g, special note for delivery">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__order">
                            <h5>Your order</h5>
                            <div class="checkout__order__product">
                                <ul>
                                    <li>
                                        <span class="top__text">Product</span>
                                        <span class="top__text__right">Total price</span>
                                    </li>
                                    {% for pro in cart_products %}
                                    <li> {{pro.product.name}} <span>$ {{pro.quantity|multiply:pro.product.new_price}}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="checkout__order__total">
                                <ul>
                                    <li>Total <span>$ {{total}} </span></li>
                                </ul>
                            </div>
                            <input type="hidden" name="amount" value="{{total}}">
                            <button type="submit" class="site-btn">Proceed to Payment</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}